@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;500;600;700&family=IBM+Plex+Sans+Condensed:wght@400;500;600;700&family=Karla:wght@400;500;600;700&family=Maven+Pro:wght@400;500;600;700&family=Montserrat:wght@400;500;600;700&family=Poppins:wght@300;400;500;600;700&family=Roboto+Condensed:wght@400;700&family=Rubik:wght@400;500;600;700&family=Source+Sans+Pro:wght@400;600;700&family=Work+Sans:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins";
  box-sizing: border-box;
}

.board {
  display: flex;
  flex-direction: column;
}

.board__menu {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.board__grid {
  display: grid;
  width: fit-content;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 8px;
  background-color: #bbada0;
  padding: 8px;
  border-radius: 4px;
  justify-items: center;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-bottom: 24px;
}

.board__box {
  background-color: #eee4da;
  width: 80px;
  height: 80px;
  border-radius: 4px;
  font-size: 40px;
  line-height: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0);
  transition: all 0.2s;
}
.board__box.expand {
  transform: scale(1);
}

/* 2048 game css */

div[data="2"] {
  background-color: #eee4da;
}

div[data="4"] {
  background-color: #ece0ca;
}

div[data="8"] {
  background-color: #f4b17a;
}
div[data="16"] {
  background-color: rgb(245, 149, 99);
}
div[data="32"] {
  background-color: rgb(246, 124, 95);
}
div[data="64"] {
  background-color: rgb(246, 94, 59);
}

div[data="128"] {
  background-color: rgb(237, 207, 114);
}
div[data="256"] {
  background-color: rgb(237, 204, 97);
}
div[data="512"] {
  background-color: rgb(237, 200, 80);
}
div[data="1024"] {
  background-color: rgb(237, 197, 63);
}
div[data="2048"] {
  background-color: rgb(237, 194, 46);
}

button {
  text-align: center;
  border: 4px solid;
  outline: none;
  border-radius: 4px;
  min-width: 100px;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
  background-color: #f4b17a;
}

.gameover {
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
}
.controls {
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}
.controls__btn {
  width: 50px;
  height: 50px;
  background-color: #ece0ca;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  border: 4px solid;
}
.w-6 {
  width: 24px;
}
.h-6 {
  height: 24px;
}
.controls__lr {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
